#main{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
     border: 10px solid rgb(25, 25, 26);
     margin-top: 100px;
}
.table{
    justify-content: center !important; 
}
button
{
    width: 80%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}
#page{
    

}
input{
    width: 100%;
    color: rgb(238, 233, 225);
}
div{
 }
 h1{
     color: white;
 }